{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block hero %}

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12 text-left">
			<h1>Tactics</h1>
			<p>Explore practical tips, insights and views</p>
		</div>
	</div>


{% endblock hero %}


{% block main %}

	<div class="row">
		<div class="col-lg-4 col-md-4 col-xs-12">
			<img src="{% static 'img/talking.jpg'  %}">
		</div>
		<div class="col-lg-8 col-md-8 col-xs-12">
			<h2>What's your pressing issue?</h2>
			<p>It could be finding and developing the right talent, increasing your revenue or adopting the latest technologies
			to improve your organization's performance. Our "tactics" provide practical tips and insights that can guide your
		 	organization in achieving its goals.</p>

			<a href="{% url 'core:contact' %}"><button type="button">Get in touch.</button></a>
		</div>
	</div>

{% endblock main %}


{% block options %}

	<div class="row">
		{% for post in recent_posts %}
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h3>
					<a href="{% url 'blog_post' post.slug %}">{{ post.title }}</a>
				</h3>
			</div>
			{% empty %}
			<h3>Please return soon for new content!</h3>
		{% endfor %}
	</div>
	<div class="row">
		{% for post in recent_posts %}
			<div class="col-lg-6 col-md-6 col-xs-12">
				{% if previous_page %}
  				<a href="{% url "archive" previous_page %}">Prev</a>
  				{% endif %}
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12">
				{% if next_page %}
  				<a href="{% url "archive" next_page %}">Next</a>
  				{% endif %}
			</div>
		{% endfor %}
	</div>
	
{% endblock options %}