{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block hero %}

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12 text-left">
			<h1>Contact</h1>
			<p>Do you have any questions or feedback for us?</p>
		</div>
	</div>

{% endblock hero %}

{% block main %}
	
	<div class="row">
		<div class="col-lg-8 col-md-8 col-xs-12">
			<h2>Get in touch!</h2>
			<p>Whether you're inquiring about our services, interested in start 
			an exciting new career or simply providing feedback, we'd like to hear from you!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-xs-12">
			<div class="typeform-widget" data-url="https://kenyattadaniel.typeform.com/to/BIvEw3" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=BIvEw3&utm_source=typeform.com-12336856-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
		</div>
		<div class="col-lg-4 col-md-4 col-xs-12">
			<h3>On Demand Offices</h3>
			<p>TacT's employees work semi remotely; either from home or clients premises. If you would like an appointment, we can meet you at your place of business or at one of our on-demand offices.</p>

			<p>Please call +599 318 4401 to book an appointment</p>

			<br><strong><p>St. Eustatius Office</p></strong>
			<p>18 William Plantz Road, Cherry Tree, Sint Eustatius</p>

			<br><strong><p>St. Maarten Office</p></strong>
			<p>Coming soon</p>


		</div>

	</div>
	

{% endblock main %}


{% block options %}
	
{% endblock options %}