<!-- Load Bootstrap3, Static -->
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE-edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    	<title>TacT</title>
    	{% bootstrap_css %}
		{% bootstrap_javascript %}
    	<!-- Link Main CSS sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124374623-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-124374623-1');
		</script>
	</head>
	<body>
		<!-- Reponsive Navbar -->
		<nav class="navbar navbar navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" 
						data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar"> 
					</button>
					<a class="navbar-brand" href="{% url 'core:index' %}">
						<img id="logo" src="{% static 'img/logo.png'  %}">
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'tactics:tactics' %}">TACTICS</a></li>
						<li><a href="{% url 'core:about' %}">ABOUT</a></li>
						<li><a href="{% url 'services:services' %}">SERVICES</a></li>
						<li><a href="{% url 'core:contact' %}">CONTACT</a></li>
					</ul>
				</div><!--/.nav-collapse-->
			</div>
		</nav>

		<div class="container-fluid">
			<div class="jumbotron" id="hero">
				<div class="container">
					{% block hero %}{% endblock hero %}
				</div>
			</div>
			<div class="page-content" id="main">
				<div class="container">
					{% block main %}{% endblock main %}
				</div>
			</div>
			<div class="page-content" id="options">
				<div class="container">
					{% block options %}{% endblock options %}
				</div>
			</div>
			<div class="page-content" id="contact">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-xs-12 text-left">
							<h3>Contact Us</h3>
							<p>Tel: +599 318 4401</p>
							<p>k.daniel@tactbv.com</p>
						</div>
						<div class="col-lg-6 col-md-6 col-xs-12 text-right">
							<h3>Follow Us</h3>
							<a href="https://twitter.com/tactbv" target="blank">
								<img src="{% static 'img/twitter-icon.png'  %}">
							</a>
							<a href="https://www.facebook.com/tactbv" target="blank">
								<img src="{% static 'img/fb-icon.png'  %}">
							</a>
							<a href="https://www.linkedin.com/company/tact-api/" target="blank">
								<img src="{% static 'img/linkedin-icon.png'  %}">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 text-center">
  							<p>2018 TACT B.V. All rights reserved.</p>
  						</div>
  					</div>
				</div>
			</div>
		</div> <!-- /container -->

	</body>
</html>