{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block hero %}

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12 text-left">
			<h1>Services</h1>
			<p>Forward thinking professional services...</p>
		</div>
	</div>


{% endblock hero %}


{% block main %}

	<div class="row">
		<div class="col-lg-4 col-md-4 col-xs-12">
			<img src="{% static 'img/working.jpg'  %}">
		</div>
		<div class="col-lg-8 col-md-8 col-xs-12">
			<h2>Combining trust, expertise and technology.</h2>
			<p>At TacT, we focus on supporting the success of your organization. That is why our services combine trust, professional expertise and technology driven processes.</p>

			<p>Our approach allows us to spend more time delivering true value to your organization instead of working ineffeciently and charging you more.</p>

			<a href="https://tact.timetap.com/" target="_blank"><button type="button">Schedule a Call</button></a>
		</div>
	</div>

{% endblock main %}


{% block options %}

	<div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12 text-left">
            <h3>Explore our Services</h3>
        </div>
    </div>


	<div class="row">
		{% for category in categories %}
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-left">
				<h3>
					<a href="{% url 'services:category' category.slug %}">{{ category.title }}</a>
				</h3>
			</div>
			{% empty %}
		{% endfor %}
	</div>
	
{% endblock options %}