{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block hero %}

	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12 text-left">
			<h1>{{ category|title }}</h1>
		</div>
	</div>

{% endblock hero %}


{% block main %}

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<h2>What We Offer</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<p>{{ category.desc }}</p>
		</div>
	</div>


{% endblock main %}


{% block options %}

	<div class="row">
		{% for service in services %}
			<div class="col-lg-6 col-md-6 col-xs-12">
				<h3>
					<a href="{% url 'services:service' service.id %}">{{ service }}</a>
				</h3>
			</div>
			{% empty %}
		{% endfor %}
	</div>

{% endblock options %}