{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block hero %}
	
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12 text-left">
			<h1>{{ service.title }}</h1>
			<p>{{ service.subtitle }}</p>
		</div>
	</div>

{% endblock hero %}


{% block main %}

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<h2>{{ service.desc }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<quote>*Fee displayed below are average prices that that may be subject to change without notice.</quote></br>
			<quote>*Final prices are determined based on each clients' specific circumstances and requirements.</quote>
		</div>
	</div>
	

{% endblock main %}


{% block options %}

	<div class="row">
		{% for package in packages %}
			<div class="col-lg-4 col-md-4 col-xs-12 text-center" style="border: 1px solid black; margin: 10px 10px 10px 0px">
				<h3 style="color: #09223d">{{ package.title }}</h3>
				<p>{{ package.desc }}</p>
				<h4>{{ package.price }} {{ package.bill_frequency | lower}}*</h4>
				<a href="{{ package.url }}"><button type="button">Select</button></a>
			</div>
			{% empty %}
		{% endfor %}
	</div>

{% endblock options %}