{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block hero %}
	
	<div class="row">
		<div class="col-lg-6 col-md-6 col-xs-12 text-left">
			<h1>{{ service.title }}</h1>
		</div>
	</div>

{% endblock hero %}


{% block main %}

	<div class="row">
		<h2>Packages</h2>
	</div>
	<div class="row">

{% endblock main %}


{% block options %}

	<div class="row">
		{% for package in packages %}
			<div class="col-lg-4 col-md-4 col-xs-12 text-center" style="border: 1px solid black; margin: 10px 10px 10px 0px">
				<h3 style="color: #09223d">{{ package.title }}</h3>
				<p>{{ package.desc }}</p>
				<h4>{{ package.price }} monthly</h4>
				<a href="{{ package.url }}"><button type="button">Select</button></a>
			</div>
			{% empty %}
		{% endfor %}
	</div>

{% endblock options %}